body{

    margin: 0;
    padding: 0;

}

#logo {
    color: white;
    text-decoration: none;
    font-size: 30pt;
    font-family: 'open sans', sans-serif;

}

#dot {

    color: blue;
}

#navlinks {

    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

nav {

    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-between;
    background-color: blue;
    
    
    
}

.navitem {

    text-decoration: none;
    color: white;
}


#hero{

    display: flex;
}

#herotext{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}


#heroimg{

    height: 100vh;


}